@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: gray;
    font-family: "Roboto Condensed", sans-serif;
    margin: 0px;
    padding: 0px;
}
a {
    color: rgb(111, 0, 0);
    text-decoration: none;
    
}
a:hover{
    color: blue;
    text-decoration: underline;
}

#header{
    background-color: greenyellow;
    padding: 10px;
    border-bottom: 2px solid green;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding-top: 10px;
    width: 100%;
    
}